export PATH="$HOME/.local/bin:$PATH"

# set JAVA_HOME to a preferred JVM
export JAVA_HOME=$(/usr/libexec/java_home 2> /dev/null)

# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"
